parameters:
	ignoreErrors:
		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:implementsInterface\\(\\) with string and 'Symfony\\\\\\\\Component\\\\\\\\Form\\\\\\\\FormTypeInterface' will always evaluate to false\\.$#"
			count: 1
			path: src/Describer/Form/PropertyDescriber/CollectionPropertyDescriber.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:implementsInterface\\(\\) with string and 'Symfony\\\\\\\\Component\\\\\\\\Form\\\\\\\\FormTypeInterface' will always evaluate to false\\.$#"
			count: 1
			path: src/Describer/Form/PropertyDescriber/DictionaryPropertyDescriber.php

		-
			message: "#^Variable property access on Symfony\\\\Component\\\\Validator\\\\Constraints\\\\Composite\\.$#"
			count: 1
			path: src/Describer/Form/SymfonyValidatorRequirementsDescriber.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Describer/ObjectDescriber/PHPBackedEnum.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Model/Path/IOField.php

		-
			message: "#^Variable property access on cebe\\\\openapi\\\\spec\\\\PathItem\\.$#"
			count: 1
			path: src/Processor/PathsProcessor.php

		-
			message: "#^Property Protung\\\\OpenApiGenerator\\\\Tests\\\\Integration\\\\Fixtures\\\\TestSchemaGeneration\\\\Model\\\\JMS\\\\ComplexObject\\:\\:\\$unknownProperty has no type specified\\.$#"
			count: 1
			path: tests/Integration/Fixtures/TestSchemaGeneration/Model/JMS/ComplexObject.php

