parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Analyser/Fixtures/PropertyAnalyserClassWithProperties.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
