parameters:
    level: max
    paths:
        - ../src
        - ../tests
    excludePaths:
        - ../tests/Analyser/Fixtures/PropertyAnalyserClassWithProperties.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false # we might run the check against different versions of PHP or libraries that might have / not have reported errors
    featureToggles:
        internalTag: false

includes:
    - phpstan-baseline.neon
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan-symfony/extension.neon
    - ../vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - ../vendor/php-standard-library/phpstan-extension/extension.neon
